<!doctype html>
<html lang="en" ng-app="AnnotatedTutorial">
  <head>
    <meta charset="UTF-8">
    <title>Annotated Tutorial</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css">
    <!-- build:[src] scripts/ -->
    <script src="modernizr/modernizr.js"></script>
    <!-- /build -->
  </head>
  <body ng-controller="mainController">
    <div class="l-wrap">
      <div class="grid grid--full is-extended">
        <!--<div class="header">Highlight notes for: <select ng-model="selectedSoftware">
          <option>All software</option>
          <option ng-repeat="software in availableSoftware">{{software}}</option>
        </select></div>-->
        <div class="grid__item three-quarters is-extended content">
          <div class="l-block grid grid--full"
               ng-repeat="step in tutorial"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false"
               ng-class="{'selected-step': selectedLine === $index}">
            <!-- Buttons to toggle on/off notes -->
            <div class="grid__item one-eighth is-right-aligned">
              <button class="icon icon-details"
                      ng-if="checkForCategory(step, 'details')"
                      ng-click="$parent.showDetails = showCategory($parent.showDetails, 'details', step)"
                      tooltip="Additional Details"></button>
              <button class="icon icon-corrections"
                      ng-if="checkForCategory(step, 'corrections')"
                      ng-click="$parent.showCorrections = showCategory($parent.showCorrections, 'corrections', step)"
                      tooltip="Corrections"></button>
              <button class="icon icon-methods"
                      ng-class="{'highlight-methods': step.notes.command.software.indexOf(selectedSoftware) > -1}"
                      ng-if="checkForCategory(step, 'methods')"
                      ng-click="$parent.showMethods = showCategory($parent.showMethods, 'methods', step)"
                      tooltip="Alternate Methods"></button>
              <button class="icon icon-command"
                      ng-class="{'highlight-command': step.notes.command.software.indexOf(selectedSoftware) > -1}"
                      ng-if="checkForCategory(step, 'command')"
                      ng-click="$parent.showCommand = showCategory($parent.showCommand, 'command', step)"
                      tooltip="Command Location"></button>
            </div><!--

            --><div class="grid__item six-eighths">

              <div class="main-content" ng-bind-html="step.html"></div>

              <!-- Step's notes, if toggled on -->
              <div ng-show="showDetails">
                <div class="note note-details" ng-repeat="note in step.notes" ng-if="note.category === 'details'">
                  <div>{{note.content}}</div>
                </div>
              </div>
              <div ng-show="showCorrections">
                <div class="note note-corrections" ng-repeat="note in step.notes" ng-if="note.category === 'corrections'">
                  <div>{{note.content}}</div>
                </div>
              </div>
              <div ng-show="showMethods">
                <div class="note note-methods" ng-repeat="note in step.notes" ng-if="note.category === 'methods'"
                     ng-class="{'highlight-methods': note.software === selectedSoftware}">
                  <div>Software: {{note.software}}</div>
                  <div>{{note.content}}</div>
                </div>
              </div>
              <div ng-show="showCommand">
                <div class="note note-command" ng-repeat="note in step.notes" ng-if="note.category === 'command'"
                     ng-class="{'highlight-command': note.software === selectedSoftware}">
                  <div>Software: {{note.software}}</div>
                  <div>{{note.content}}</div>
                </div>
              </div>
            </div><!--

            --><div class="grid__item one-eighth input-start-container" ng-show="hover && selectedLine != $index">
              <!-- Button for adding a note -->
              <button class="input-start icon" ng-click="lineClicked($index, $event)" tooltip="Add a note"></button>
            </div>
          </div>
        </div><!--

        --><div class="input-container grid__item one-quarter" ng-if="inputPos >= 0" ng-style="{'top':inputPos + 'px'}" style="padding: 5px;">
          <div>
            <button ng-click="typeSelected('details')" class="icon icon-details" ng-class="{'selected selected-details': inputType == 'details'}"></button>
            <button ng-click="typeSelected('corrections')" class="icon icon-corrections" ng-class="{'selected selected-corrections': inputType == 'corrections'}"></button>
            <button ng-click="typeSelected('methods')" class="icon icon-methods" ng-class="{'selected selected-methods': inputType == 'methods'}"></button>
            <button ng-click="typeSelected('command')" class="icon icon-command" ng-class="{'selected selected-command': inputType == 'command'}"></button>
            <button ng-click="closeInput()" class="plain-button">Close</button>
          </div>
          <div ng-show="showTextarea">
            <div class="description">
              <div ng-if="inputType == 'details'">Additional details help other readers understand how to complete a step or why it is important.</div>
              <div ng-if="inputType == 'corrections'">Corrections alert other readers of an error in the tutorial, or of a detail that should be different.</div>
              <div ng-if="inputType == 'methods'">Alternate methods describe a different way of accomplishing a step.</div>
              <div ng-if="inputType == 'command'">Command locations help other readers locate a command, tool, option or other menu item.</div>
            </div>
            <div class="software-container" ng-if="inputType == 'methods' || inputType == 'command'">Software: <input type="text" ng-model="$parent.$parent.extraInput" /></div>
            <textarea class="input-text" ng-model="$parent.newNote" rows="4" placeholder="Please enter your note here."></textarea>
            <button ng-click="submitNote()" class="plain-button">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- build:remove -->
    <script>
      DEVELOPMENT = true;
    </script>
    <!-- /build -->

    <!-- build:js scripts/dependencies.js -->
    <script src="/angularjs/angular.js"></script>
    <script src="/angular-sanitize/angular-sanitize.js"></script>
    <script src="/moment/moment.js"></script>
    <script src="/angular-moment/angular-moment.js"></script>
    <!-- /build -->

    <!-- build:js scripts/templates.js -->
    <script src="/scripts/templates/templates.js"></script>
    <!-- /build -->

    <!-- build:js scripts/app.js -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/tutorialService.js"></script>
    <script src="/scripts/loggerService.js"></script>
    <script src="/scripts/mainController.js"></script>
    <!-- /build -->
  </body>
</html>