<!doctype html>
<html lang="en" ng-app="AnnotatedTutorial">
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
  <head>
    <meta charset="UTF-8">
    <title>Annotated Tutorial</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css">
    <!-- build:[src] scripts/ -->
    <script src="modernizr/modernizr.js"></script>
    <!-- /build -->

  </head>
  <body ng-controller="mainController">
    <div class="l-wrap">
      <div class="grid grid--full is-extended">
          <div class="grid__item three-quarters is-extended content">
            <div class="l-block grid grid--full">
                <div class="grid__item one-tenth is-right-aligned"></div>

                <!--
              --> <div class="grid__item six-eighths">
                    <!--div-- id="whole"></div-->
                    <h1 class="tutorial-title">{{tutorial.title}}</h1>
                    <h3 class="tutorial-author">by {{tutorial.author}}</h3>
                <!-- Buttons to toggle the list of authors-->
                <div ng-click="contributorFlag = showContributors(contributorFlag)">
                        <div class="contributors-show" ng-show="!contributorFlag"></div>
                        <div class="contributors-hide" ng-show="contributorFlag"></div>
                </div>
                <div class="contributor-button"
                     ng-click="contributorFlag=showContributors(contributorFlag);clear()">{{listOfContributors.length.toString()}} Other contributors
                 </div>
                 <div ng-show="contributorFlag">
                    <div ng-repeat="contributor in listOfContributors">
                         <div class="contributor-first" ng-if="contributor == listOfContributors[0]">{{contributor}},</div>
                         <div class="contributor" ng-if="contributor!=listOfContributors[0] && contributor!=listOfContributors[listOfContributors.length-1]">{{contributor}},</div>
                         <div class="contributor" ng-if="contributor!=listOfContributors[0] && contributor===listOfContributors[listOfContributors.length-1]">{{contributor}}</div>
                    </div>
                 </div>
            </div>
           </div>

          <div class="l-block grid grid--full"
               ng-repeat="step in listOfSteps"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false"
               ng-if="step.step_number!== listOfSteps.length"
               ng-class="{'selected-step':selectedStepsList.indexOf(step)!=-1}">

              <div class="grid__item one-tenth input-start-container is-center-aligned">
              <!-- Button for adding a note
              <button class="input-start icon" ng-if="inputPos === null" ng-click="resetCurrent();lineClicked($index, $event,step);stepSelected(step);numberList()" ng-show="hover && selectedLine != $index" tooltip="Add a note"></button>-->
              </div><!--
              --><div class="grid__item six-eighths">
              <div id="{{step.id}}">
                  <div class="step-title" ng-if="!(step.step_number==0) && (step.step_number<(tutorial.steps.length-2))">Step {{step.step_number}}</div>
              </div>
              <div id="{{tutorial.steps[tutorial.steps.length-2].id}}" ng-if="(step.step_number==(tutorial.steps.length-2))"></div>
              <div class="main-content note-area" ng-bind-html="step.html"></div>
              <!-- Step's notes, if toggled on--->
              <note ng-repeat="note in step.notes" ng-if="canShowNote(note) && note.category === 'corrections'" ng-show="showCorrections" note="note" delete-it="deleteNote" rate-it="newRating" add-reply="addingReply" can-show-note="canShowNote" user="contributor" date="dateFormat(note)" notelist="getNoteList(note)" reply-one=true></note>
              <note ng-repeat="note in step.notes" ng-if="canShowNote(note) && note.category === 'details'" ng-show="showDetails" note="note" delete-it="deleteNote" rate-it="newRating" add-reply="addingReply" can-show-note="canShowNote" user="contributor" date="dateFormat(note)" notelist="getNoteList(note)" reply-one=true></note>
              <note ng-repeat="note in step.notes" ng-if="canShowNote(note) && note.category === 'questions'" ng-show="showQuestions" note="note" delete-it="deleteNote" rate-it="newRating" add-reply="addingReply" can-show-note="canShowNote" user="contributor" date="dateFormat(note)" notelist="getNoteList(note)" reply-one=true></note>
              <note ng-repeat="note in step.notes" ng-if="canShowNote(note) && note.category === 'other'" ng-show="showOther" note="note" delete-it="deleteNote" rate-it="newRating" add-reply="addingReply" can-show-note="canShowNote" user="contributor" date="dateFormat(note)" notelist="getNoteList(note)" reply-one=true></note>
          </div><!--

            <!-- Buttons to toggle on/off notes
              --><div class="grid__item one-twelfth" id="notes">

              <div class="grid__item one-tenth input-start-container">
                  <!-- Button for adding a note -->
                  <button class="input-start icon" ng-if="inputPos === null" ng-click="resetCurrent();lineClicked($index, $event,step);stepSelected(step);numberList()" ng-show="hover && selectedLine != $index" tooltip="Add a note"></button>
              </div>

              <button class="icon icon-corrections side-bar"
                      ng-if="checkForCategory(step, 'corrections')"
                      ng-click="noteOrder(step);$parent.showCorrections = showCategory($parent.showCorrections, 'corrections', step)"
                      tooltip="Corrections">
                      <div class = "icon__number number-corrections">{{numberOfNotes(step,"corrections")}}</div>
              </button>

              <button class="icon icon-details side-bar"
                      ng-if="checkForCategory(step, 'details')"
                      ng-click="noteOrder(step);$parent.showDetails = showCategory($parent.showDetails, 'details', step)"
                      tooltip="Tell me more!">
                      <div class="icon__number number-details">{{numberOfNotes(step,"details")}}</div>
              </button>

              <button class="icon icon-questions side-bar"
                      ng-if="checkForCategory(step, 'questions')"
                      ng-click="noteOrder(step);$parent.showQuestions = showCategory($parent.showQuestions, 'questions', step)"
                      tooltip="Questions">
                      <div class="icon__number number-questions">{{numberOfNotes(step,"questions")}}</div>
              </button>

              <button class="icon icon-other side-bar"
                      ng-if="checkForCategory(step, 'other')"
                      ng-click="noteOrder(step);$parent.showOther = showCategory($parent.showOther, 'other', step)"
                      tooltip="Other notes">
                      <div class="icon__number number-other">{{numberOfNotes(step,"other")}}</div>
              </button>

            </div>
          </div>
        </div><!--

     --><div class="input-container grid__item one-quarter" ng-if="inputPos != null" ng-style="{'top':50 + 'px'}" style="height:300px;padding: 5px;">
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

              <div class ="window-title" ng-if="replyTo != null">Replying to {{$parent.replyToContributor}}.</div>
              <div ng-if="replyTo==null">
                  <div ng-if="!secondMenu">
                      <div class="window-title" >COMMENTING ON</div>
                      <div ng-repeat="step in currentStep">
                          <a class="close-button" ng-click="closeInput()" href="#{{step.id}}">X</a>
                          <a class="return-button-first return-button" ng-click="return(step)" href="#{{step.id}}">VIEW ORIGINAL STEP</a>
                      </div>
                      <div class="selected-steps" ng-if="selectedStepsList.length == 0">None Selected</div>
                      <div>
                          <div class="selected-steps" ng-if="selectedStepsList.length !=0">STEPS: {{list.toString()}}</div>
                          <button class="menu-button menu-one" ng-click="menuSwitch()" ng-show="true"></button>
                      </div>
                      <br>
                      <div>
                          <div ng-repeat="step in listOfSteps" ng-if="step.step_number <listOfSteps.length-1">
                              <a class="menu-action-button preview-button" ng-click="preview(step);" href="#{{step.id}}"></a>
                              <button class="menu-action-button" id="step {{step.step_number}}" ng-click="stepSelected(step);numberList()" ng-class="{'selected-menu-button':selectedStepsList.indexOf(step)!=-1}">
                                  <div class="plus-action-button" ng-if="selectedStepsList.indexOf(step)==-1">+</div>
                                  <div class="minus-action-button" ng-if="selectedStepsList.indexOf(step)!=-1">-</div>
                              </button>
                              <div class="step-list" ng-if="step.step_number==0" ng-class="{'selected-menu-button':selectedStepsList.indexOf(step)!=-1}">INTRO</div>
                              <div class="step-list" ng-if="step.step_number==listOfSteps.length-2" ng-class="{'selected-menu-button':selectedStepsList.indexOf(step)!=-1}">END</div>
                              <div class="step-list" ng-if="step.step_number!=0 && step.step_number <listOfSteps.length-2" ng-class="{'selected-menu-button':selectedStepsList.indexOf(step)!=-1}">STEP {{step.step_number}}</div>
                          </div>
                      </div>
                  </div>

                  <div ng-if="secondMenu">
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                      <script src="scripts/smooth-scrolling.js"></script>
                      <div class="window-title categories-title" ng-if="secondMenu">CATEGORIES</div>
                      <div ng-repeat="step in currentStep">
                          <a class="close-button close-button-second" ng-click="closeInput()" href="#{{step.id}}">X</a>
                          <a class="return-button-second return-button" ng-click="return(step);" href="#{{step.id}}">VIEW ORIGINAL STEP</a>

                      </div>
                      <button ng-click="categorySelected('corrections')" class="icon icon-corrections menu-corrections" ng-class="{'selected selected-corrections': inputCategory == 'corrections'}" tooltip="Corrections"></button>
                      <button ng-click="categorySelected('details')" class="icon icon-details menu-details" ng-class="{'selected selected-details': inputCategory == 'details'}" tooltip="Tell me more!"></button>
                      <button ng-click="categorySelected('questions')" class="icon icon-questions menu-questions" ng-class="{'selected selected-questions': inputCategory == 'questions'}" tooltip="Questions"></button>
                      <button ng-click="categorySelected('other')" class="icon icon-other menu-other" ng-class="{'selected selected-other': inputCategory == 'other'}" tooltip="Other notes"></button>
                      <button class="menu-two menu-button" ng-click="menuSwitch()"></button>
                      <div ng-if="inputCategory==''">PLEASE SELECT A CATEGORY</div>
                  </div>
              </div>

              <div ng-show="((showTextarea && secondMenu) || replyTo!==null)">
                  <div class="description"  ng-if="replyTo==null">
                      <div ng-if="inputCategory == 'corrections'">Found a mistake? Help us out by pointing it out!</div>
                      <div ng-if="inputCategory == 'details'">Useful information that may help others understand and learn from the tutorial.</div>
                      <div ng-if="inputCategory == 'questions'">Need help with the tutorial? Ask a question for others to answer.</div>
                      <div ng-if="inputCategory == 'other'">Have a note that doesn't fit in the other categories? Use this one!</div>
                  </div>
                  <div class="software-container" ng-if="(inputCategory == 'other') && replyTo==null">
                      <div ng-if="inputCategory == 'other'">How would you label your note?</div>
                      <input class ="input-text" type="text" ng-model="$parent.$parent.extraInput"/>
                  </div>
                  <div ng-if="replyTo!=null">
                      <div class="close-button" ng-click="closeInput()">X</div>
                      <br>
                  </div>
                  <textarea class="input-text" ng-model="$parent.newNote" rows="6" placeholder="Please enter your note here."></textarea>
                  <button ng-click="submitNote()" class="plain-button submit-button">SUBMIT</button>
          </div>
      </div>
    </div>


    <!-- build:remove -->
    <script>
      DEVELOPMENT = true;
    </script>
    <!-- /build -->

    <!-- build:js scripts/dependencies.js -->
    <script src="/angularjs/angular.js"></script>
    <script src="/angular-sanitize/angular-sanitize.js"></script>
    <script src="/moment/moment.js"></script>
    <script src="/angular-moment/angular-moment.js"></script>
    <!-- /build -->

    <!-- build:js scripts/templates.js -->
    <script src="/scripts/templates/templates.js"></script>
    <!-- /build -->

    <!-- build:js scripts/app.js -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/tutorialService.js"></script>
    <script src="/scripts/loggerService.js"></script>
    <script src="/scripts/mainController.js"></script>
    <script src="/scripts/recursionHelper.js"></script>
    <script src="/scripts/noteDirective.js"></script>
    <!-- /build -->
  </body>
</html>