<!doctype html>
<html lang="en" ng-app="AnnotatedTutorial">
  <head>
    <meta charset="UTF-8">
    <title>Annotated Tutorial</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css">
    <!-- build:[src] scripts/ -->
    <script src="modernizr/modernizr.js"></script>
    <!-- /build -->
  </head>
  <body ng-controller="mainController">
    <div class="l-wrap">
      <div class="grid grid--full is-extended">
        <div class="grid__item three-quarters is-extended content">
          <div class="l-block grid grid--full"
               ng-repeat="step in tutorial.steps"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false"
               ng-class="{'selected-step': selectedLine === $index}">
            <!-- Buttons to toggle on/off notes -->
            <div class="grid__item one-eighth is-right-aligned">

              <button class="icon icon-corrections"
                      ng-if="!tutorial.baseline && checkForCategory(step, 'corrections')"
                      ng-click="$parent.showCorrections = showCategory($parent.showCorrections, 'corrections', step)"
                      tooltip="Corrections"></button>

              <button class="icon icon-methods"
                      ng-if="!tutorial.baseline && checkForCategory(step, 'methods')"
                      ng-click="$parent.showMethods = showCategory($parent.showMethods, 'methods', step)"
                      tooltip="What is this?"></button>

              <button class="icon icon-details"
                      ng-if="!tutorial.baseline && checkForCategory(step, 'details')"
                      ng-click="$parent.showDetails = showCategory($parent.showDetails, 'details', step)"
                      tooltip="Tell me more!"></button>

              <button class="icon icon-questions"
                      ng-if="!tutorial.baseline && checkForCategory(step, 'questions')"
                      ng-click="$parent.showQuestions = showCategory($parent.showQuestions, 'questions', step)"
                      tooltip="Questions"></button>

              <button class="icon icon-other"
                      ng-if="!tutorial.baseline && checkForCategory(step, 'other')"
                      ng-click="$parent.showOther = showCategory($parent.showOther, 'other', step)"
                      tooltip="Other notes"></button>
            </div><!--

            --><div class="grid__item six-eighths">

              <div class="main-content" ng-bind-html="step.html"></div>

              <!-- Step's notes, if toggled on -->
              <note ng-repeat="note in step.notes" ng-if="!tutorial.baseline && canShowNote(note) && note.category === 'corrections'" ng-show="showCorrections" note="note" add-reply="addingReply" baseline="false"></note>
              <note ng-repeat="note in step.notes" ng-if="!tutorial.baseline && canShowNote(note) && note.category === 'methods'" ng-show="showMethods" note="note" add-reply="addingReply" baseline="false"></note>
              <note ng-repeat="note in step.notes" ng-if="!tutorial.baseline && canShowNote(note) && note.category === 'details'" ng-show="showDetails" note="note" add-reply="addingReply" baseline="false"></note>
              <note ng-repeat="note in step.notes" ng-if="!tutorial.baseline && canShowNote(note) && note.category === 'questions'" ng-show="showQuestions" note="note" add-reply="addingReply" baseline="false"></note>
              <note ng-repeat="note in step.notes" ng-if="!tutorial.baseline && canShowNote(note) && note.category === 'other'" ng-show="showOther" note="note" add-reply="addingReply" baseline="false"></note>
            </div><!--

            --><div class="grid__item one-eighth input-start-container" ng-if="!tutorial.baseline" ng-show="hover && selectedLine != $index">
              <!-- Button for adding a note -->
              <button class="input-start icon" ng-click="lineClicked($index, $event)" tooltip="Add a note"></button>
            </div>
          </div>
        </div><!--

        --><div class="baseline-container grid__item three-tenths" ng-style="{height: windowHeight + 'px'}" ng-if="tutorial.baseline">
            <div ng-if="tutorial.notes">
              <h2>Comments</h2>
              <note ng-repeat="note in tutorial.notes" ng-if="!note.reply_to" note="note" add-reply="addingReply" baseline="true"></note>
            </div>
            <div class="submit-comment-container">
              <h2>Submit a comment</h2>
              <textarea class="input-text" ng-model="$parent.newNote" rows="4" placeholder="Please enter your comment here."></textarea>
              <button ng-click="submitNote()" class="plain-button">Submit</button>
            </div>
          </div><!--

        --><div class="input-container grid__item one-quarter" ng-if="inputPos != null" ng-style="{'top':inputPos + 'px'}" style="padding: 5px;">
          <button ng-click="closeInput()" class="plain-button">Close</button>
          <div ng-if="replyTo != null">Replying to {{$parent.replyToAuthor}}.</div>
          <div ng-if="!tutorial.baseline">
            <div>Pick a category for your note.</div>
            <button ng-click="typeSelected('corrections')" class="icon icon-corrections" ng-class="{'selected selected-corrections': inputType == 'corrections'}" tooltip="Corrections"></button>
            <button ng-click="typeSelected('methods')" class="icon icon-methods" ng-class="{'selected selected-methods': inputType == 'methods'}" tooltip="What is this?"></button>
            <button ng-click="typeSelected('details')" class="icon icon-details" ng-class="{'selected selected-details': inputType == 'details'}" tooltip="Tell me more!"></button>
            <button ng-click="typeSelected('questions')" class="icon icon-questions" ng-class="{'selected selected-questions': inputType == 'questions'}" tooltip="Questions"></button>
            <button ng-click="typeSelected('other')" class="icon icon-other" ng-class="{'selected selected-other': inputType == 'other'}" tooltip="Other notes"></button>
          </div>
          <div ng-show="showTextarea">
            <div class="description"  ng-if="!tutorial.baseline">
              <div ng-if="inputType == 'corrections'">Found a mistake? Help us out by pointing it out!</div>
              <div ng-if="inputType == 'methods'">Information specific to software. Point out useful tools or other ways of doing the tutorial.</div>
              <div ng-if="inputType == 'details'">Useful information that may help others understand and learn from the tutorial.</div>
              <div ng-if="inputType == 'questions'">Need help with the tutorial? Ask a question for others to answer.</div>
              <div ng-if="inputType == 'other'">Have a note that doesn't fit in the other categories? Use this one!</div>
            </div>
            <div class="software-container" ng-if="(inputType == 'methods' || inputType == 'other') && !tutorial.baseline">
              <div ng-if="inputType == 'methods'">Your note is relevant for which software?</div>
              <div ng-if="inputType == 'other'">How would you label your note?</div>
              <input type="text" ng-model="$parent.$parent.extraInput" />
            </div>
            <textarea class="input-text" ng-model="$parent.newNote" rows="4" placeholder="Please enter your note here."></textarea>
            <button ng-click="submitNote()" class="plain-button">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- build:remove -->
    <script>
      DEVELOPMENT = true;
    </script>
    <!-- /build -->

    <!-- build:js scripts/dependencies.js -->
    <script src="/angularjs/angular.js"></script>
    <script src="/angular-sanitize/angular-sanitize.js"></script>
    <script src="/moment/moment.js"></script>
    <script src="/angular-moment/angular-moment.js"></script>
    <!-- /build -->

    <!-- build:js scripts/templates.js -->
    <script src="/scripts/templates/templates.js"></script>
    <!-- /build -->

    <!-- build:js scripts/app.js -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/tutorialService.js"></script>
    <script src="/scripts/loggerService.js"></script>
    <script src="/scripts/mainController.js"></script>
    <script src="/scripts/recursionHelper.js"></script>
    <script src="/scripts/noteDirective.js"></script>
    <!-- /build -->
  </body>
</html>