/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */
html,body{
  background-color: white;
}

.content{
  background-color: white;
  margin: 44px 0;
  padding: 10px 0;
}

img{
  max-width: 500px;
  max-height: 200px;
  border: 1px solid #e0e0e0;
  display: block;
  margin-bottom:20px;

}

.header{
  background-color: #e0e0e0;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.main-content{
  padding: 0 0 0 5px;
}

.prime-background{
  background-color:#6397e8;
}

.prime-text{
  color:#6397e8;
}

.prime-background:hover{
  background-color:#1249a1;
}

.prime-text:hover{
  color:#1249a1;
}

.icon{
  background-repeat: no-repeat;
  background-size: 16px;
  border: 1px solid #fff;
  border-radius: 6px;
  height: 24px;
  line-height: 9px;
  width: 24px;
  position: relative;
}

.selected, .icon:hover{border: 1px solid #e0e0e0;}
.icon:focus {outline:0;}

[tooltip]:before {
  content : attr(tooltip);
  opacity : 0;
  position : absolute;
  background-color: #000;
  font-size:0.7em !important;
  font-family:'Open sans', sans-serif;
  border-radius: 4px;
  color: #fff;
  margin-left: -10px;
  margin-top: 20px;
  padding: 3px;
  pointer-events: none;
  transition: all 0.1s ease;
  white-space: nowrap;
  z-index:100;
}

[tooltip]:hover:before {
  opacity : 1;
  white-space: nowrap;
}

.selected-step{ background-color: #e7e7e7;}

.icon-details{
  background-image: url(../images/PNG/pin.png);
  background-size: 17px;
  background-position: 2px 2px;
}

.icon-corrections{
  background-image: url(../images/SVG/healing.svg);
  background-position: 2px;
}

.icon-questions{
  background-image: url(../images/PNG/question.png);
  background-size: 14px;
  background-position: 3px 3px;
}

.icon-other{
  background-image: url(../images/PNG/other.png);
  background-size: 23px;
  background-position: -1px 1px;
}

.menu-corrections{
  border:1.5px solid #ebb083;
}

.menu-corrections:hover{
  background-color: #ebb083;
  border:1.5px solid #ebb083;
}

.menu-details{
  border:1.5px solid  #ccc0eb;
}

.menu-details:hover{
  background-color:  #ccc0eb;
  border:1.5px solid  #ccc0eb;
}
.menu-questions{
  border:1.5px solid #ebdc69;
}

.menu-questions:hover{
  background-color: #ebdc69;
  border:1.5px solid #ebdc69;
}
.menu-other{
  border:1.5px solid  #c0d982;
}

.menu-other:hover{
  background-color:  #c0d982;
  border:1.5px solid  #c0d982;
}

.selected-details, .number-details, .icon-details:hover {
  background-color: #ccc0eb;
}
.selected-corrections,.number-corrections, .icon-corrections:hover {
  background-color: #ebb083;
}

.selected-questions,.number-questions, .icon-questions:hover {
  background-color: #ebdc69;
}
.selected-other,.number-other, .icon-other:hover {
  background-color: #c0d982;
}

.note-details {
  border: 1px solid #d3d3d3;
  border-left:6px solid #e0d4ff;
}
.note-corrections {
  border: 1px solid #d3d3d3;
  border-left:6px solid #ffc497;
}

.note-questions {
  border: 1px solid #d3d3d3;
  border-left:6px solid #fff07d;
}
.note-other{
  border: 1px solid #d3d3d3;
  border-left:6px solid #d4ed96;
}

.reply-details{border-left:1px solid rgba(176,140,265,0.34);}
.reply-corrections{border-left:1px solid #ffb874;}
.reply-questions{border-left:1px solid #f0e276;}
.reply-other{ border-left:1px solid #c4dd86}

.note-area{
  margin-bottom:20px;
}

.reply-button {
  float: right;
  font-size: 0.65em;
  font-family:'Open sans', sans-serif;
  border-radius: 4px;
  margin-left: 5px;
}

.note:before{
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 16px;
  display: inline-block;
  font-size: 75%;
  font-family:'Open sans', sans-serif;
  top: -5px;
  padding: 20px;
  position: relative;
}

.note{
  margin: 10px 0;
  padding:5px 10px;
  padding-bottom:10px;
  clear: both;
  border-radius: 2px;
}

p{
  font-family:'Open sans', sans-serif;
}

.note-contributor{
  font-size: 11px;
  font-family:'Open sans', sans-serif;
  text-align: right;
  float:left;
  margin-right:10px;
  color: #8d8d8d;;
  font-weight:bold;
}

.input-start {
  background-image: url(../images/SVG/unselectedAdd.svg);
  background-size: 22px;
  background-position: 4px 3px;
  height: 27px;
  width: 27px;
  outline:none;
  border:none;
}

.input-gone{
  background-image: url(../images/PNG/whiteAdd.png);
  background-size: 22px;
  background-position: 4px 3px;
  height: 27px;
  width: 27px;
  outline:none;
  border:none;
}

.input-start:hover{background-image: url(../images/SVG/hoverAdd.svg);outline:none;border:none;}

.input-container{
  background-color: #fff;
  border: 1px solid #949494;
  font-size: 0.9em;
  font-family:'Open sans', sans-serif;
  margin: 0 0 0 -80px;
  padding: 5px;
  position: fixed;
  overflow-y: auto;
  overflow-x:hidden;
  right:5%;
}

.reply-container{
  height:21% !important;;
}

.description{
  border: 1px #ccc dotted;
  margin: 5px 0;
  margin-top:4%;
  padding: 2px;
}

.software-container{
  padding-bottom: 5px;
}

.input-text{
  width: 100%;
  background-color: white;
  font-size: 11px;
  border: solid 1px #e2e2e2;
  font-family:'Open sans', sans-serif;
}


.reply-content{
  margin-top:0 !important;
  margin-bottom:1px !important;
  border:1px solid #c6c6c6;
}

.replyOne{
  background-color: white !important;
}

.replyTwo{
  background-color: #ececec !important;
}

.note-highlight{
  background-color: rgba(204, 192, 235, 0.45) !important;
}


.note-header-details {
  background-image: url(../images/PNG/note-pin.png);
  background-color:#e0d4ff;
  background-position:40% 55%;
}
.note-header-corrections {
  background-image: url(../images/PNG/note-healing.png);
  background-color: #ffc497;
  background-position:40% 55%;
}

.note-header-questions {
  background-image: url(../images/PNG/note-question.png);
  background-size: 13px !important;
  background-color:#fff07d;
  background-position:40% 55%;
}

.note-header-other {
  background-image: url(../images/PNG/note-other.png);
  background-size: 17px !important;
  background-color: #d4ed96;
  background-position:40% 55%;
}

.note-icon{
  float:left;
  background-repeat: no-repeat;
  background-size: 14px;
  outline:none;
  height: 30px;
  line-height: 9px;
  width: 25px;
  margin-left:-10px !important;
  margin-top:-5px !important;
  margin-right:3%;
}

.plain-button {
  float: right;
  padding: 1.5px 10px;
  position: relative;
  right: 0;
  top: 0;
  font-weight:bold;
  font-size: 0.65em;
  font-family:'Open sans', sans-serif;
  color: white;
  line-height: 18px;
  border-radius:3px;
  outline:none;
}


.comment-footer{
  padding-top: 5px;
}

.submit-button{
  padding: 1% 45%;
  margin-top:1%;
  float:left;
  font-size:14px;
  font-weight:600;
}

.submit-comment-container{
  border-top: solid 1px #aaa;
  margin: 10px;

  h2{
    margin: 10px 0;
  }
}

h1{
  font-size: 130%;
  font-weight: bold;
  font-family:'Open sans', sans-serif;
}

h2{
  font-size: 110%;
  font-weight: bold;
  font-family:'Open sans', sans-serif;
}

.contributors-show{
  background-image: url(../images/SVG/ContributorsShowMore.svg);
  background-position: 0 3px;
  float: left;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 1px solid #fff;
  height: 26px;
  line-height: 9px;
  width: 26px;
  margin-right: 4px;
  cursor:pointer;
}

.contributors-hide{
  background-image: url(../images/SVG/ContributorsShowLess.svg);
  background-position: 0 3px;
  float: left;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  height: 26px;
  line-height: 9px;
  width: 26px;
  margin-right: 4px;
  cursor:pointer;
}

.contributors-show:hover{
  background-image: url(../images/SVG/ContributorsShowMoreHover.svg);
}

.contributors-hide:hover{
  background-image: url(../images/SVG/ContributorsShowLessHover.svg);
}


.contributor{
  float: left;
  margin-right:2px;
  font-size: small;
  font-family:'Open sans', sans-serif;
  color: #797979;
}

.contributor-first{
  float:left;
  margin-right:2px;
  font-family:'Open sans', sans-serif;
  font-size: small;
  color: #8d8d8d;
}

.note-content{
  padding:0 5.5%;
  font-size:13px;
  font-family:'Open sans', sans-serif;
}

.tutorial-title {
  font-size: 30px;
  font-family:'Open sans', sans-serif;
  color: #3f3f3f;
  margin:15px 0;
}

.tutorial-author {
  font-size: large;
  font-family:'Open sans', sans-serif;
  color: #3f3f3f;
  margin-bottom:3px;
}

.step-title{
  font-size:20px;
  color:#3f3f3f;
  margin-bottom:10px;
  font-weight:600;
  font-family:'Open sans', sans-serif;
}

.contributor-button {
  margin-left: 2px;
  font-size: medium;
  font-family:'Open sans', sans-serif;
  color: #a6a6a6;
  cursor:pointer;
  width:24%;
}

.note-number{
  text-align:left;
  font-size:medium;
  font-family:'Open sans', sans-serif;
}

.icon__number {
  border-radius: 50%;
  color:black;

  padding: 2px;
  margin: 2px 2px;
  font-size: 10px;
  font-family:'Open sans', sans-serif;
  position: absolute;
  right:-5px;
  top:-8px;
}

.window-title {
  font-weight: bold;
  font-size:75%;
  font-family:'Open sans', sans-serif;
  color: #6f6f6f;
  margin-left: 1.5%;
  float: left;
}

.placeholder-text{
  margin-left:8%;
  margin-top:5%;
}

.categories-title {
  margin-left: 7.5%;
  margin-right:9%;
}

.selected-steps {
  font-family:'Open sans', sans-serif;
  color: #6f6f6f;
  padding-left: 10px;
  position: absolute;
  outline: none;
  float: left;
  clear: right;
  margin-bottom: 2px;
  font-size: 13px;
}

.delete-button {
  background: rgba(255, 255, 255, 0);
  margin: 0 10px;
  float: right;
  color: red;
}

.delete-button:hover {
  background: rgba(255, 7, 0, 0.79);
  color: white;
}


.close-button {
  font-size: 1em;
  font-family:'Open sans', sans-serif;
  float: right;
  color: #bababa;
  font-weight:bold;
}

.return-button-first {
  margin-left: 16.45%;
}

.return-button-second {
 // margin-left: 19.4%;
}



.close-button:hover {
  color: #535353;
  text-decoration: underline #535353;
}

.close-button-second {
}

.return-button {
  font-size: 0.8em;
  font-family:'Open sans', sans-serif;
  font-weight:bold;
}

.return-button:hover {
  text-decoration: underline #1249a1;
}

.note-rating {
  font-size: 11px;
  font-weight:600;
  font-family:'Open sans', sans-serif;
  text-align: left;
  color: #8d8d8d;
}
.note-steps {
  font-size: 0.6em;
  font-family:'Open sans', sans-serif;
  float: right;
}

.rating-button {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 20px;
  height: 23px;
  line-height: 9px;
  width: 20px;
  float: left;
  outline: none;
  margin-right: 2%;
}

.rated,.unrated:hover{
  background-image: url(../images/SVG/selectedThumb.svg);
}

.unrated, .rated:hover{
  background-image: url(../images/SVG/unselectedThumb.svg);
}

.step-list {
  border-top: 1px solid #e6e6e6;
  padding: 2px 0;
  padding-left: 15px;
  text-align: left;
  font-weight: bold;
  font-family:'Open sans', sans-serif;
  background-color: white;
  margin:0 -1%;
  cursor:pointer;
}

.menu-action-button {
  float: right;
  outline: none;
}

.plus-action-button {
  padding: 2px 10px;
  font-weight:bold;
  font-family:'Open sans', sans-serif;
  font-size:22px;
}

.minus-action-button:hover{
  color:#6397e8;
}

.minus-action-button {
  padding: 2px 12px;
  font-weight:bold;
  font-family:'Open sans', sans-serif;
  color:#1249e8;
  font-size:22px;
}

.selected-menu-button {
  background:#f9f9f9;
  border-top: 1px solid #e6e6e6;
  color:#1249a1;
}

.menu-button {
  background-repeat: no-repeat;
  background-size: 10px;
  height: 20px;
  line-height: 9px;
  width: 10px;
}

.preview-button {
  background-image: url(../images/SVG/eyeUnselected.svg);
  background-position: 3px 8px;
  background-repeat: no-repeat;
  background-size: 20px;
  height: 28px;
  line-height: 9px;
  width: 35px;
  margin:0 15px;
}

.preview-button:hover{
  background-image: url(../images/SVG/eyeSelected.svg);
}

.menu-one {
  background-image: url(../images/SVG/rightArrow.svg);
  background-size: 20px;
  background-position: 0 1px;
  height: 28px;
  line-height: 9px;
  width: 20px;
  float: right;
}

.menu-two {
  background-image: url(../images/SVG/leftArrow.svg);
  background-size: 20px;
  background-position: 0 2px;
  height: 28px;
  line-height: 9px;
  width: 20px;
  margin-right: 2.5%;
  float: left;
}

.menu-one:hover{
  background-image: url(../images/SVG/rightHover.svg);
}

.menu-two:hover{
  background-image: url(../images/SVG/leftHover.svg);
}

.text{
  font-size: 11px;
  color: #8d8d8d;
  font-weight:400;
  font-family:'Open sans', sans-serif;
}

.date {
  font-size: 11px;
  color: #8d8d8d;
  font-weight:bold;
  font-family:'Open sans', sans-serif;
}

.side-bar{
  margin-right:16%;
}