/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */

body{
  width: 1000px;
}

.tutorial{
  clear: both;
  margin: 10px 0 0 20px;
}

.content{
  margin: 25px 0 25px 0;
}

.hoverLine:hover{
  background: #ccf;
  border-radius: 5px;
  cursor: pointer;
}

.selectedLine{
  border: solid 1px #ccf;
  border-radius: 5px;
}

.note{
  margin: 20px;
}

.icon-position{
  position: relative;
  width: 0;
  height: 0
}

.icon{
  border: 1px solid black;
  border-radius: 100px;
  height: 20px;
  left: 20px;
  line-height: 9px;
  padding: 0 5px 0 5px;
  position: relative;
  text-align: center;
  top: -20px;
  width: 20px;
}

.icon:hover{
  background-color: #eee;
}

.input-container{
  border-radius: 10px;
  border-top: 1px solid black;
  bottom: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
}