/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */

body{
  width: 1000px;
}

.tutorial{
  clear: both;
  margin: 10px 0 0 20px;
}

.content{
  margin: 20px 0 20px 0;
}

.note{
  margin: 20px;
}

.icon{
  border: 1px solid black;
  border-radius: 100px;
  padding: 0 5px 0 5px;
  width: 20px;
  text-align: center;

  position: relative;
  top: -20px;
}

.icon:hover{
  background-color: #eee;
}